body {
    position: relative;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
}

body * {
    z-index: 4;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    width: 1000px;
    height: 600px;
    align-items: center;
}

.levels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    gap: 15px;
}

.level {
    width: 120px;
    height: 80px;
    background-color: #c1c1c1;
    color: white;
    border: none;
    cursor: not-allowed;
}

.unlocked {
    background-color: #4CAF50;
    cursor: pointer;
}

.unlocked:hover {
    border: 1px solid #017105;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.game-container {
    display: none;
    /* display: flex; */
    flex-direction: column;
    gap: 5px;
}

.header {
    background-color: white;
    padding: 0 1rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .go-to-menu {
    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.achievement-container, .debug {
    background-color: #f1f1f1;
    width: 250px;
    height: 600px;
    text-align: center;
}

.debug {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

.debug div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.debug button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.debug button:hover {
    background-color: #397e3c;
}


.debug input {
    padding: 10px;
    border: 1px solid #ccc;
}

#game {
    position: relative;
    width: 1000px;
    height: 600px;
    background-color: #222;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f00;
    /* left: 440px;
    bottom: 450px; */
    left: 120px;
    bottom: 40px;
}

.platform {
    position: absolute;
    /* background-color: #555; */
    background: rgb(13,13,12);
background: linear-gradient(0deg, rgba(13,13,12,1) 0%, rgba(66,122,13,1) 88%, rgba(63,171,31,1) 94%);
    /* filter: drop-shadow(-2px 0px 1px #bcbbbb); */
}

.achievement {
    position: absolute;
    background-color: aliceblue;
}

.spike {
    position: absolute;
    /* Give this class a triangle shape */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid #f00;

    /* background-color: yellow; */
}

#log {
    position: absolute;
    top: 100px;
    left: 600px;
    width: 600px;
    height: 200px;
    z-index: 999;
    font-size: 14px;
}

.token {
    position: absolute;
    background-image: url('assets/scroll.png');
    width: 50px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

.token:after {
    content: attr(data-kanji);
    position: absolute;
    font-size: 19px;
    left: 15px;
    top: 15px;
}

.deco {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.deco.bg {
    background-size: cover;
}