body {
    position: relative;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87CEEB;
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header {
    background-color: white;
    padding: 0 1rem;
    color: black;
    
}

.body {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.achievement-container, .debug {
    background-color: #f1f1f1;
    width: 250px;
    height: 600px;
    text-align: center;
}

.debug {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

.debug div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.debug button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.debug button:hover {
    background-color: #397e3c;
}


.debug input {
    padding: 10px;
    border: 1px solid #ccc;
}

#game {
    position: relative;
    width: 1000px;
    height: 600px;
    background-color: #222;
    overflow: hidden;
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #f00;
    left: 440px;
    bottom: 450px;
    left: 120px;
    bottom: 40px;
}

.platform {
    position: absolute;
    background-color: #555;
}

.achievement {
    position: absolute;
    background-color: aliceblue;
}

.spike {
    position: absolute;
    /* Give this class a triangle shape */
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid #f00;

    /* background-color: yellow; */
}

#log {
    position: absolute;
    top: 100px;
    left: 600px;
    width: 600px;
    height: 200px;
    z-index: 999;
    font-size: 14px;
}

.token {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #0f0;
    border-radius: 20px;
}